@page "/"

<PageTitle>Index</PageTitle>


<div class="container mt-">
    <h1 class="fw-bold">Heroes of peace - NFT</h1>
    <hr>
    <main class="px-3">
        <h2>O que são NFTs?</h2>
        <p class="lead">NFT é a sigla para o termo "non fungible token", ou “token não fungível”. Eles são tokens, ou
            seja, códigos numéricos com registro de transferência digital que garantem autenticidade aos seus donos.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
        </p>
    </main>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" height="10" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <img class="center" src="img/NFT_Class_A.jpg" width="200">
                </svg>
                <div class="card-body">
                    <p class="card-text">Nome: Bithex</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Chance: 10%</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" height="10" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <img class="center" src="img/NFT_Class_B.jpg" width="">
                </svg>
                <div class="card-body">
                    <p class="card-text">Nome: Ethenia</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Chance: 15%</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" height="10" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <img class="center" src="img/NFT_Class_C.jpg" width="200">
                </svg>
                <div class="card-body">
                    <p class="card-text">Nome: Cardimande</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Chance: 25%</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" height="10" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <img class="center" src="img/NFT_Class_D.jpg" width="200">
                </svg>
                <div class="card-body">
                    <p class="card-text">Nome: Linkah</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Chance: 50%</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<SurveyPrompt />
